.imgCont {
    height: 400px;
    width: 600px;
}

.conta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3f51b5;
    height: 600px;
    padding: 50px;
    color: #fff;

}

.formHandle {
    width: 700px;
}
